.detail_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    margin: auto;
}

.inner {
    width: 70%;
    height: 700px;
    margin: 50px auto 0px auto;
    border-radius: 30px;
    border: darkblue solid;
}

.author {
    float: right;
    width: 50%;
    margin-top: 100px;
}

.image {
    width: 50%;
    float: left;
}

.image_in {
    display: block;
    width: 250px;
    margin: 60px auto 0px;
}

.address {
    width: 500px;
}

.content {
    height: 300px;
}

.user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin: 50px 30px 10px 10px;
    font-size: 1.5rem;
    font-weight: 100;
    color: #FF2442;
}

.detail_title {
    font-size: 3rem;
    font-weight: bolder;
    color: #3DB2FF;
    padding-top: 100px
}

.detail_content {
    display: flex;
    margin-top: 50px;

}

.detail_button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_map {
    margin-top: 50px;
}

.detail_comment {
    padding-top: 50px;
    margin-bottom: 100px;
}


#map-area {
    position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
    height: 400px;
}

#go-map {
    position: absolute;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
}

.comment_wrap {
    width: 70%;
    height: 30%;
    margin: 30px auto 0px auto;
    border-radius: 30px;
}