<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>강만다 - 프로필 수정</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/7a46ceb137.js" crossorigin="anonymous"></script>

    <!-- Css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile/profile_upload.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- Jquery cookie-->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


    <!-- goole font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <!-- 사진 파일 뽑기-->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(0, 160, 255); color: white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="logo" width="100" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        게시글
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/show-post">게시글 보기</a></li>
                        <li><a class="dropdown-item" href="/profiles">프로필 보기</a></li>
                        <li><a class="dropdown-item" href="/meets">이벤트 보기</a></li>
                    </ul>
                </li>
            </ul>
            <button id="login-button" onclick="location.href='/login'" type="button" class="btn btn-success">로그인
            </button>
            <div onclick="get_card()"><img id="user-profile" class="rounded-circle"
                                           src="/static/profile_pics/profile_placeholder.png" width="50px"
                                           height="50px">
            </div>
        </div>
    </div>
</nav>
<div class="category">
    <div class="category_name">
        <h1>강아지 프로필 수정</h1>
    </div>
</div>
<div class="all">
    <div class="box">
        <!--프로필 박스-->
        <div class="profile_box">
            <!--사진 업로드-->
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input file profile_image" id="profile_image">
                <label class="custom-file-label" for="file" id="file">사진 첨부하기</label>
            </div>
            <div class="dog_name_box">
                <div class="input-group mb-3">
                    <span class="input-group-text">강아지 이름</span>
                    <input id="dog_name" type="text" class="form-control" placeholder="" aria-label="Username"
                           aria-describedby="basic-addon1" value="">
                    <input type="hidden" id="profile_id" value="">
                </div>
                <!--강아지 나이-->
                <div class="dog_age_box">
                    <div class="input-group mb-3">
                        <span class="input-group-text">강아지 나이</span>
                        <input id="dog_age" type="text" class="form-control" aria-label="Username"
                               aria-describedby="basic-addon1" value="">
                    </div>
                </div>
                <!--강아지 성별-->
                <div class="dog_gender_box">
                    <div class="input-group mb-3">
                        <span class="input-group-text">강아지 성별</span>
                        <select id="dog_gender" class="custom-select form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                            <option selected>--성별을 선택하세요--</option>
                            <option>여아</option>
                            <option>남아</option>
                        </select>
                    </div>
                </div>
                <!--강아지 자기소개-->
                <div class="dog_comment_box">
                    <div class="input-group mb-3">
                        <span class="input-group-text">강아지 자기소개</span>
                        <input id="dog_comment" type="text" class="form-control" aria-label="Username"
                               aria-describedby="basic-addon1" value="">
                    </div>
                </div>
            </div>

            <!--저장(save)-->
            <div class="save">
                <button onclick="update_profile()" type="button" class="btn btn-info" id="save">
                    저장하기
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 프로필 창 -->
<div id="user-card" class="invisible card-profile shadow p-3 mb-5 bg-body opacity-90 bg-light rounded"
     style="width: 18rem;">
    <div class="card-body text-center">
        <img style="height: 100px; width: 100px" class="rounded-circle card-profile-img"
             src="/img/profile_placeholder.png">

        <br>
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle mb-2 text-muted"> ID </h6>
        <p class="card-text"> discription </p>
        <a href="/user_profile" class="card-link">My Profile</a>
        <a href="javascript:void(0);" onclick="logout()" class="card-link">logout</a>
    </div>
</div>

<script src="/js/base.js"></script>
<script src="/js/profile/profile_detail_upload.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>