ody {
    font-family: sans-serif;
}


.wrapper {
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
}

.form {
    padding-top: 30px;
    margin-bottom: 30px;
}

.form .header {
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #ddd;
}

.form .header .title {
    font-size: 25px;
    font-weight: bold;
    color: #1259a7;
}

.form .header .desc {
    margin-left: 10px;
}

.form .header .message {
    margin: 25px 0 70px 0;
    font-size: 20px;
    font-weight: normal;
    color: #262626;
}

.form .content {
    margin: 0 -15px;
}

.form .content:after {
    clear: both;
    content: " ";
    display: table;
}

.form .content .half {
    min-width: 400px;
    float: left;
    width: 50%;
    padding: 0 15px;
}

.form .content .half label .point {
    color: #1259a7;
}

.form .content .half .message {
    margin-bottom: 35px;
}

.form .content .half .message .length {
    float: right;
}

.form .content .half .email {
    margin: 35px 0;
}

.form .content .half .satisfaction .comment {
    float: right;
}

.form .content .half .satisfaction .icons {
    margin-top: 25px;
}

.form .content .half .satisfaction .icons:after {
    content: " ";
    clear: both;
    display: table;
}

.form .content .half .satisfaction .icons label {
    float: left;
    width: calc(100% / 3);
}

.form .content .half .satisfaction .icons label i {
    cursor: pointer;
    padding: 5px;
    font-size: 42px;
    opacity: 0.25;
}

.form .content .half .satisfaction .icons label.left {
    text-align: right;
}

.form .content .half .satisfaction .icons label.center {
    text-align: center;
}

.form .content .half .satisfaction .icons label i:hover {
    opacity: 0.5;
}

.form .content .half .satisfaction .icons label.on i {
    color: #1259a7;
}

.form .content .half .satisfaction .icons label.on i {
    opacity: 1;
}

.form .content .half .satisfaction .icons label input {
    display: none;
}

.form .content .half label {
    display: block;
    margin-bottom: 15px;
}

.form .content .half textarea {
    border-radius: 0;
    height: 200px;
    width: 100%;
    resize: none;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.form .content .half input {
    border-radius: 0;
    padding: 15px;
    height: 50px;
    box-shadow: none;
    border: 1px solid #ddd;
    width: 100%;
}

.form .content .half textarea:focus,
.form .content .half input:focus {
    border-color: #1259a7;
    outline: 0;
}

.form .content .half .action {
    padding-top: 15px;
}

.form .content .half .action button {
    font-size: 16px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    background: #1259a7;
    width: 100%;
    border: 1px solid #1259a7;
    box-shadow: none;
    color: #fff;
}

@media (max-width: 767px) {
    .form .header {
        text-align: center;
    }

    .form .header .title {
        display: block;
    }

    .form .header .desc {
        display: block;
        margin: 10px 0 0 0;
    }
}

/*--------- profile list---------*/
* {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
}

body {
    background-color: #31394D;
}

.color-card {
    background: #31394D;
    text-align: center;
}


.desc {
    font-size: 20px;
    color: #B7B8C0;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.i-l {
    float: left;
    margin-left: 16px;
    margin-top: 16px;
}

.i-r {
    float: right;
    margin-right: 16px;
    margin-top: 16px;
}

.fa-heart {
    float: right;
    margin-right: 16px;
    margin-top: 16px;
}


.fas {
    color: #ffffff;
}

hr {
    border-color: #7C8097;
    width: 90%;
    margin: 65px 0px 24px 15px;
    color: #3DB2FF;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top {
    margin-top: 10px;
}

.color-a {
    background: linear-gradient(to top right, #8162CE, #F54BA5);
}

.btn {
    border: none;
    height: 40px;
    color: #ffffff;
    width: 35%;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn:hover {
    border: solid 1px #DA59B1;
    height: 40px;
    color: #DA59B1;
    background: #ffffff;
    width: 35%;
    border-color: linear-gradient(to top right, #8162CE, #F54BA5);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}


/*cards*/
body {
    background: white;
}

.card {
    border-radius: 6px;
    display: inline-block;
    height: 500px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 12px 13px rgba(0, 0, 0, 0.16), 0 12px 13px rgba(0, 0, 0, 0.16);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}


.element-animation {
    animation: animationFrames ease 2s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
}


@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px, 0px);
    }
    60% {
        opacity: 1;
        transform: translate(30px, 0px);
    }
    80% {
        transform: translate(-10px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: translate(-1500px, 0px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(30px, 0px);
    }
    80% {
        -webkit-transform: translate(-10px, 0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}


.profile_img {
    width: 200px;
    height: 150px;
    margin: 15% 0px 20px 17%;
    border-radius: 30%;
    overflow: hidden;
    background-position: center;
    background-size: cover;


}

.card_top {
    margin-top: 20px;
    width: 300px;
}

.name {
    font-size: 35px;
    height: 36px;
    margin-bottom: 20px;
}

.age {
    float: left;
    margin-left: 50px;
}

.gender {
    float: right;
    margin-right: 50px;
}

.dog_img {
    width: 200px;
    height: 150px;
    object-fit: cover
}

.add-baby {
    float: right;
    padding: 7px;
}
.add-baby:hover{
    border: solid #1259a7 3px;
}