iframe {
    margin: auto;
}

.all {
    width: 80%;
    margin: auto;
}

.detail_content {
    display: flex;
    margin-top: 50px;
    height: 500px;

}

.image {
    width: 100%;
    float: left;
}

.detail_button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_map {
    margin-top: 50px;
}

.detail_comment {
    padding-top: 50px;
    margin-bottom: 100px;
}


#map-area {
    position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
    height: 400px;
}

#go-map {
    position: absolute;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
}

body {
    font-family: Jua;
}

body *,
body *:before,
body *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .wrapper {
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
}

body .clearfix:after {
    content: " ";
    clear: both;
    display: table;
}

.header {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

h1 {
    font-family: 'jua';
    font-size: 50px;
}

h2, h4, h5 {
    font-weight: 100;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.grid {
    margin-bottom: 30px;
}

.grid > .wrapper > .inner {
    margin: 0 -15px;
}

.grid-left {
    float: left;
    padding: 15px 15px;
    width: 40%;
}

.grid-left .image_in {
    width: inherit;
    height: auto;
}

.grid-right {
    float: left;
    padding: 0 15px;
    width: 60%;
}

@media (max-width: 991px) {
    .grid-left {
        float: none;
        width: 100%;
    }

    .grid-right {
        float: none;
        width: 100%;
    }
}