a {
    color: midnightblue;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 120, 0);
}

.post-top {
    margin-bottom: 5%;
}


.card-post {
    border-radius: 0.5rem;
    padding: 10px;
    background-color: rgb(245, 255, 255);
    color: rgb(20, 100, 160);
    margin-bottom: 1%;
}

.card-post-best {
    border-radius: 0.5rem;
    padding: 10px;
    background-color: rgb(245, 255, 240);
    color: rgb(20, 100, 160);
    margin-bottom: 1%;
}

.card-img {
    width: 250px;
    height: 150px;
}

.card-content .post-title {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(20, 100, 160);
}

.card-content .post-content {
    font-size: 15px;
    color: black;
}

.card-content .post-sub {
    font-size: 15px;
    color: rgb(180, 190, 190);
}