.all {
    width: 70%;
    height: 500px;
    margin: 50px auto 0px auto;
    border-radius: 30px;
    border: darkblue solid;
}

.inner {
    width: 80%;
    margin: 0px 10% 70px 10%
}

.author {
    float: right;
    width: 50%;
    margin-top: 100px;
}

.save {
    float: right;
    color: #3DB2FF;
}

.image {
    width: 50%;
    float: left;
}

.image_in {
    display: block;
    width: 250px;
    margin: 60px auto 0px;
}