.all {
    width: 70%;
    height: 400px;
    margin: 0% auto 49px auto;
    border-style: solid;
    border-color: darkblue;
    border-radius: 30px;
}

.box {
    width: 80%;
    margin: 50px 10% 70px 10%
}

.save {
    float: right;
    color: #3DB2FF;
}