
body {
    background-color: white;
}

.color-card {
    background: #31394D;
}


.desc {
    font-size: 20px;
    color: #B7B8C0;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-top {
    float: left;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.i-l {
    float: left;
    margin-left: 16px;
    margin-top: 16px;
}

.fa-heart {
    float: right;
    margin-right: 16px;
    margin-top: 16px;
}

.i-r {
    float: right;
    margin-right: 16px;
    margin-top: 16px;
}

.fas {
    color: white;
}

hr {
    border-color: #7C8097;
    width: 90%;
    margin: 65px 0px 24px 15px;
    color: #3DB2FF;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top {
    margin-top: 10px;
}

.color-a {
    background: linear-gradient(to top right, #8162CE, #F54BA5);
}

.btn {
    border: none;
    height: 40px;
    color: #ffffff;
    width: 35%;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn:hover {
    border: solid 1px #DA59B1;
    height: 40px;
    color: #DA59B1;
    background: #ffffff;
    width: 35%;
    border-color: linear-gradient(to top right, #8162CE, #F54BA5);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}


/*cards*/
body {
    background: white;
    text-align: center;
}

.card {
    border-radius: 6px;
    display: inline-block;
    height: 500px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 12px 13px rgba(0, 0, 0, 0.16), 0 12px 13px rgba(0, 0, 0, 0.16);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}


.element-animation {
    animation: animationFrames ease 2s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
}


@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px, 0px);
    }
    60% {
        opacity: 1;
        transform: translate(30px, 0px);
    }
    80% {
        transform: translate(-10px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: translate(-1500px, 0px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(30px, 0px);
    }
    80% {
        -webkit-transform: translate(-10px, 0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}


.profile_img {
    width: 200px;
    height: 150px;
    margin: 15% 0px 20px 17%;
    border-radius: 30%;
    overflow: hidden;
    background-position: center;
    background-size: cover;


}

.card_top {
    margin-top: 20px;
    width: 300px;
}

.name {
    font-size: 35px;
    height: 36px;
    margin-bottom: 20px;
}

.age {
    float: left;
    margin-left: 50px;
}

.gender {
    float: right;
    margin-right: 50px;
}

.dog_img {
    width: 200px;
    height: 150px;
    object-fit: cover
}