<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> 게시글 상세페이지 | 강만다 </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/7a46ceb137.js" crossorigin="anonymous"></script>

    <!-- Css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/articles/post_detail.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="/js/articles/post_show_detail.js"></script>
    <script src="/js/articles/post_detail.js"></script>

    <!--사진 파일 뽑기-->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <!-- Jquery cookie-->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


    <!-- goole font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(0, 160, 255); color: white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="logo" width="100" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        게시글
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/show-post">게시글 보기</a></li>
                        <li><a class="dropdown-item" href="/profiles">프로필 보기</a></li>
                        <li><a class="dropdown-item" href="/meets">이벤트 보기</a></li>
                    </ul>
                </li>
            </ul>
            <button id="login-button" onclick="location.href='/login'" type="button" class="btn btn-success">로그인
            </button>
            <div onclick="get_card()"><img id="user-profile" class="rounded-circle"
                                           src="/img/profile_placeholder.png" width="50px"
                                           height="50px">
            </div>
        </div>
    </div>
</nav>

<!-- 프로필 창 -->
<div id="user-card" class="invisible card-profile shadow p-3 mb-5 bg-body opacity-90 bg-light rounded"
     style="width: 18rem;">
    <div class="card-body text-center">
        <img style="height: 100px; width: 100px" class="rounded-circle card-profile-img"
             src="/img/profile_placeholder.png">

        <br>
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle mb-2 text-muted"> ID </h6>
        <p class="card-text"> discription </p>
        <a href="/user_profile" class="card-link">My Profile</a>
        <a href="javascript:void(0);" onclick="logout()" class="card-link">logout</a>
    </div>
</div>
<div class="all">
    <!-- 작성자(top_box)-->
    <div class="inner">
        <div class="top_box m-auto" style="width: 80%">
            <div class="image">
                <img class="image_in" src="/img/logo.png">
            </div>
            <div class="author">
                <div class="input-group mb-3">
                    <span class="input-group-text">작성자</span>
                    <div id="author_box" type="text" class="form-control" placeholder="" aria-label="Username"
                         aria-describedby="basic-addon1">

                    </div>
                </div>
            </div>
        </div>

        <div class="contents_box m-auto" style="width: 80%;">
            <!-- 제목, 내용 -->
            <div class="title">
                <input type="hidden" id="idx" value="">
                <div class="input-group mb-3">
                    <span class="input-group-text">제목</span>
                    <div id="title_box" type="text" class="form-control" aria-label="Username"
                         aria-describedby="basic-addon1">

                    </div>
                </div>
            </div>

            <div class="contents">
                <div class="input-group mb-3">
                    <div class="form-control content" aria-label="With textarea" id="contents_box">

                        <img id="content-img" src="#" height="200px" width="200px"><br>
                        <span id="contents_box_span"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 버튼 그룹 -->
        <div class="detail_button">
            <button onclick="checking_user()" type="button" class="btn btn-primary ui button">
                <i class="fa fa-wrench" aria-hidden="true"> 수정</i>
            </button>
            &nbsp;
            <button onclick="delete_post()" type="button" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"> 삭제</i>
            </button>
            &nbsp;
            <button type="button" class="btn btn-danger">
                <i class="far fa-thumbs-up"> 좋아요0</i>
            </button>
        </div>
    </div>
    <!-- 댓글-->
    <div class="comment_wrap">
        <div class="detail_comment">
            <div class="input-group">
                <span class="input-group-text">댓글 입력</span>
                <textarea id="comment_content" class="form-control" aria-label="comment"></textarea>
                <button onclick="comment_upload()" class="btn btn-primary">확인</button>
            </div>

            <div id="comment_list">
                <!--댓글 리스트-->
            </div>
        </div>
    </div>
</div>

<!-- 수정 모달  -->
<div id="update-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">게시글 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 본문 -->
                <div class="contents_box m-auto" style="width: 80%;">
                    <!-- 제목, 내용 -->
                    <div class="title">
                        <input type="hidden" id="idx" value="">
                        <div class="input-group mb-3">
                            <span class="input-group-text">제목</span>
                            <input id="update-title" type="text" class="form-control" aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="contents">
                        <div class="img-box">
                            <img id="ucontent-img" src="#" height="200px" width="200px"><br>
                            <input type="file" class="upfile" id="upfile" onchange="update_img(event)">
                        </div>
                        <div class="input-group mb-3">
                            <textarea class="form-control content" aria-label="With textarea"
                                      id="update-content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalClose" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary" onclick="update_post()">수정</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/base.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>